.wallet-button {
  padding: 10px 20px;
  height: auto;
  border-radius: 6px;
  font-size: 16px;
  background-color: #3f67ff;
  color: white;
}

.wallet-modal-title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.movement-connect-button {
  color: #3f67ff;
  border-color: #3f67ff;
}

.movement-connect-privacy-policy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movement-connect-privacy-policy-text {
  font-size: 12px;
  line-height: 20px;
}

.movement-connect-privacy-policy-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  text-underline-offset: 4px;
}
.movement-connect-privacy-policy-link:hover {
  text-decoration: underline;
}

.movement-connect-powered-by {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.wallet-menu-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.1);
  padding-inline: 16px;
  padding-block: 12px;
  border-radius: 8px;
}

.wallet-name-wrapper {
  display: flex;
  align-items: center;
}

.wallet-selector-icon {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}

.wallet-selector-text {
  font-size: 14px;
}

.wallet-connect-button {
  align-self: center;
  background-color: #3f67ff;
  color: white;
  height: auto;
}

.wallet-connect-install {
  align-self: center;
  color: #3f67ff;
  padding-right: 16px;
  font-size: 16px;
  line-height: 32px;
}

.about-movement-connect-trigger-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.about-movement-connect-trigger {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  padding-inline: 0;
  padding-block: 12px;
  color: black;
}

.about-movement-connect-header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  margin-bottom: 16px;
}
.about-movement-connect-header > div {
  margin: 0;
  font-size: 18px;
}

.about-movement-connect-graphic-wrapper {
  display: flex;
  height: 162px;
  padding-bottom: 12px;
  align-items: flex-end;
  justify-content: center;
}

.about-movement-connect-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  padding-bottom: 4px;
}

.about-movement-connect-title {
  font-size: 22px;
}

.about-movement-connect-description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.about-movement-connect-description > a {
  color: black;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about-movement-connect-footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
}

.about-movement-connect-screen-indicators-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  place-self: center;
}

.about-movement-connect-screen-indicator {
  background: none;
  border: none;
  padding-inline: 0;
  padding-block: 16px;
  cursor: pointer;
}
.about-movement-connect-screen-indicator > div {
  height: 2px;
  width: 24px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}
.about-movement-connect-screen-indicator[data-active] > div {
  background-color: black;
}

/* Scoped Ant CSS overrides */

:where(.wallet-selector-modal .ant-modal-body) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

:where(.wallet-selector-modal .ant-divider-inner-text) {
  color: rgba(0, 0, 0, 0.5);
}

:where(.wallet-selector-modal .ant-collapse-header) {
  justify-content: center !important;
  color: rgba(0, 0, 0, 0.5) !important;
}
:where(.wallet-selector-modal .ant-collapse-header-text) {
  flex: unset !important;
  margin-inline-end: 0 !important;
}

:where(.wallet-selector-modal .ant-collapse-content-box) {
  padding: 0px !important;
  padding-top: 8px !important;
}
